*.docx
*.pdf
*.png
*.app
*.bash_sessions
*.cups
*.dropbox
*.dvdcss
*.gitconfig
*.mplayer
*.npm
*.oracle_jre_usage
*.ssh
*.swt
*.viminfo
*.localized
*.CFUserTextEncoding
*.DS_Store
*.atom
*.bash_history
*personalWebsite
*project-stream
*Codes
*DecodeMTL
*Documents
*Downloads
*Dropbox
*Library
*Movies
*Music
*Pictures
*Public
*.Trash
*Kara-Project.html
